### list

In [1]:
arr = ["one","two","three"]
arr[0]

'one'

In [3]:
arr.append(4)
arr

['one', 'two', 'three', 4, 4]

In [4]:
del arr[2]
arr

['one', 'two', 4, 4]

### tuple

In [5]:
t = 'one','two',3
t

('one', 'two', 3)

**tuple cannot be changed:**

```python
t.append(4)
```
AttributeError: 'tuple' object has no attribute 'append'

```python
del t[0]
```
TypeError: 'tuple' object doesn't support item deletion

tuple can use "+" and this will create a new tuple to store data

In [7]:
t+(1,)

('one', 'two', 3, 1)

In [8]:
tcopy = t+(1,)
tcopy

('one', 'two', 3, 1)

In [9]:
id(tcopy)

4564471728

In [10]:
id(t)

4564475488

So you can see that the id of these two objects is different

### array.array

In [12]:
import array
arr = array.array('f', (1.0, 1.5, 2.0, 2.5))
arr

array('f', [1.0, 1.5, 2.0, 2.5])

In [13]:
arr[0] = 12.45
arr

array('f', [12.449999809265137, 1.5, 2.0, 2.5])

In [14]:
del arr[2]
arr

array('f', [12.449999809265137, 1.5, 2.5])

In [15]:
arr.append(4.89)
arr

array('f', [12.449999809265137, 1.5, 2.5, 4.889999866485596])

**array can only store the same type of data:**

```python
arr[0] = 'hello
```
TypeError: must be real number, not str

### str

In [16]:
s = '123abc'
s

'123abc'

In [17]:
s[0]

'1'

**str cannot be changed:**

```python
s.append(4)
```
AttributeError: 'str' object has no attribute 'append'

```python
del s[0]
```
TypeError: 'str' object doesn't support item deletion 

To process, you can transfer tuple to list

In [18]:
sn = list(s)
sn

['1', '2', '3', 'a', 'b', 'c']

In [19]:
type(s[0])

str

In [20]:
s2 = s+'23'
s2

'123abc23'

In [21]:
id(s)

4563401776

In [22]:
id(s2)

4565209840